@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: grey;
    color: aliceblue;
}
.logo{
    cursor: pointer;
    color: brown;
    font-weight: 400;
}
.nav-link{
    list-style: none;
    display: flex;
}
.nav-link li{
    padding:0 20px;
}
.nav-link li a{
    color:aliceblue;
    text-decoration: none;
}
.nav-link li a:hover{
    color: brown;
}
.nav-link li a:visited{
    color:black;
}
button{
    color:black;
    background-color: none;
    padding:9px 25px;
    border:2px solid black;
    border-radius: 50px;
}
button:active{
    background: blueviolet;
}
button:hover{
    color:coral

}